# Project exclude paths
/.gradle/
/AuthMicroService/build/
/AuthMicroService/build/classes/java/main/
/ConfigServer/build/
/ConfigServer/build/classes/java/main/
/UserMicroService/build/
/UserMicroService/build/classes/java/main/